body {
  font-family: Arial, Courier, Verdana;
  background-color: black;



}

main {
  background-color: orange;
  width: 250px;
  margin: 50px auto;
  border-radius: 10px;
  border: 5px solid gray;
  padding: 20px 10px;



}

div {
  width: 200px;
  margin: 0 auto;

}

#row5 {
  margin-top: 20px;

}

button {
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  border-radius: 5px;
 
}

#screen {
  background-color: black;
  height: 50px;
  margin: 20px;
  font-size: 30px;
  border: 2px solid gray;
  border-radius: 5px;
}
