body {
  font-family: Arial, Courier, Verdana;
  background-color: black;
  
}

main { 
  
  display: flex; 
  flex-direction: column; 
  align-items: center;
  background-color: orange;
  margin-left: 775px;
  margin-right: 775px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
}


#row1 { 
  padding-left: 84px;
  
}

#row5 {
  
  padding-left: 42px;
}

button.operator {
  color: orange;
}
